.Game {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.table {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: center;
		background-color: green;
	}
}

ul.hand {
	display: flex;
	list-style: none;
}